:root {
  --primary-color-earth: rgb(165, 42, 42);
  --secondary-color-earth: rgb(189, 183, 107);
  --background-color-earth: rgb(56, 163, 165, 0.7);
  --text-color-earth: #fff;
  --button-color-earth: #808080;
  --button-hover-color-earth: #691f1f;
  --button-text-color-earth: #fff;
  --form-background-earth: rgb(55, 58, 68, 0.8);
  --highlight-color-earth: #ffff00;

  --primary-color-fey: #90e0e0;
  --secondary-color-fey: #c2c2f0;
  --background-color-fey: rgb(40, 42, 53, 0.7);
  --text-color-fey: #fff;
  --button-color-fey: #a020f0;
  --button-hover-color-fey: #801aa0;
  --button-text-color-fey: #fff;
  --form-background-fey: rgb(55, 58, 68, 0.8);
  --highlight-color-fey: #ff00ff;

  --primary-color: var(--primary-color-earth);
  --secondary-color: var(--secondary-color-earth);
  --background-color: var(--background-color-earth);
  --text-color: var(--text-color-earth);
  --button-color: var(--button-color-earth);
  --button-hover-color: var(--button-hover-color-earth);
  --button-text-color: var(--text-color-earth);
  --form-background: var(--form-background-earth);
  --highlight-color: var(--highlight-color-earth);
}
/* 

Colors need to be set in main/settings/themes.js as

well because dev is bad and feels bad =(
  
*/
@font-face {
  font-family: "Merriweather";
  src: url("../data/assets/css/Merriweather/Merriweather-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "Merriweather-italics";
  src: url("../data/assets/css/Merriweather/Merriweather-LightItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Kode";
  src: url("../data/assets/css/Kode_Mono/static/KodeMono-Medium.ttf")
    format("truetype");
}
@font-face {
  font-family: "Open Sans";
  src: url("../data/assets/css/Open_Sans/static/OpenSans-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "Open Sans-SemiBold";
  src: url("../data/assets/css/Open_Sans/static/OpenSans-SemiBold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Open Sans-Light";
  src: url("../data/assets/css/Open_Sans/static/OpenSans-Light.ttf")
    format("truetype");
}
@font-face {
  font-family: "Open Sans-ExtraBold";
  src: url("../data/assets/css/Open_Sans/static/OpenSans-ExtraBold.ttf")
    format("truetype");
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 10px;
  border: none;
}
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: "Merriweather";
  user-select: none;
}
h1 {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--background-color);
  background-image: url("../data/assets/splash-screen.png");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color);
  margin: 0 0 1rem 0;
  justify-content: center;
  align-items: center;
}
nav {
  text-align: center;
}
nav .button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--button-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: var(--button-text-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
nav .button:hover {
  background-color: var(--button-hover-color);
}
label {
  display: block;
  margin: 1rem 0rem 1rem 0rem;
  font-variant: small-caps;
  color: var(--text-color);
  font-family: "Open Sans-Light";
  font-size: large;
  user-select: none;
}
label:after {
  content: ":";
  margin-left: 0.5em;
  user-select: none;
}
span {
  overflow: auto;
}
hr {
  border: 1px dashed var(--secondary-color);
  margin: 2rem 1rem 2rem 1rem;
}
input,
textarea,
select {
  background-color: #303040;
  color: var(--text-color);
  padding: 0.5rem;
  border: 1px solid var(--secondary-color);
  border-radius: 3px;
  margin-bottom: 2.25rem;
  font-family: Kode;
}

input {
  max-width: 480px;
  width: 90%;
}
textarea {
  max-width: 480px;
  width: 90%;
  min-height: 120px;
}
button {
  background-color: var(--button-color);
  color: var(--button-text-color);
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
  user-select: none;
  font-family: Open Sans-SemiBold;
}
button:hover {
  background-color: var(--button-hover-color);
  color: var(--highlight-color);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
img {
  user-select: none;
}
.app-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.lore-app__details {
  display: grid;
  grid-template-areas:
    "details-top-left details-top-right"
    "details-icon details-icon"
    "details-path details-path"
    "lore-app-nav lore-app-nav"
    "lore-main-toast lore-main-toast";
  user-select: none;
}
.main-menu-bar {
  height: 24px;
  border-radius: 5x;
  background-image: linear-gradient(rgb(200, 200, 200, 0.4), rgb(0, 0, 0, 0.2));
}
.main-menu-bar:hover {
  -webkit-app-region: drag;
  height: 24px;
}
.details__top-left {
  grid-area: details-top-left;
  height: 48px;
  padding: 0.25rem;
}
.details__top-right {
  height: 48px;
  padding: 0.25rem;
  grid-area: details-top-right;
}
.main-menu__button--cycle-background {
  background-color: rgb(255, 255, 255, 0);
  background-image: url("../data/assets/settings-gear.png");
  background-position: center;
  background-size: 48px;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  border: none;
  cursor: pointer;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}
.main-menu__button--cycle-background:hover {
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 10px;
  background-image: url("../data/assets/settings-gear-hover.png");
}
.main-menu__button--toggle-theme {
  background-color: rgb(255, 255, 255, 0);
  background-image: url("../data/assets/light-icon.png");
  background-position: center;
  background-size: 48px;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  border: none;
  cursor: pointer;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}
.main-menu__button--toggle-theme:hover {
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 10px;
  background-image: url("../data/assets/light-icon-hover.png");
}
.main-menu__button--save {
  background-color: rgb(255, 255, 255, 0);
  background-image: url("../data/assets/save.png");
  background-position: center;
  background-size: 48px;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  border: none;
  cursor: pointer;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}
.main-menu__button--save:hover {
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 10px;
  background-image: url("../data/assets/save-hover.png");
}
.details__top-right {
  grid-area: details-top-right;
  text-align: right;
}
.details__icon {
  background-image: url(../data/assets/icon.png);
  width: 128px;
  height: 128px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  grid-area: details-icon;
}
.details__project-directory {
  font-family: "Merriweather-italics";
  grid-area: details-path;
  text-align: center;
  margin-bottom: 1rem;
  user-select: text;
}
.lore-app__navigation {
  grid-area: lore-app-nav;
}
.lore-main__information-toast {
  color: var(--text-color);
  height: 2rem;
  user-select: none;
  grid-area: lore-main-toast;
  padding: 1rem;
  text-align: center;
  font-family: "Merriweather-italics";
}
.hidden {
  display: none;
}

.lore-welcome__wrapper {
  text-align: center;
  padding: 20px;
  color: var(--text-color);
  background: rgba(0, 0, 0, 0.45);
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.lore-welcome__wrapper p {
  font-family: Open Sans-SemiBold;
  margin: 2rem 0 2rem 0;
}

.edit-entry__form-wrapper,
.viewer__cards-wrapper {
  display: none;
  border: 1px solid var(--secondary-color);
  width: 100%;
  flex-grow: 1;
  padding: 6rem;
}
.entry-form__row {
  display: flex;
}

.entry-form__column {
  flex: 1;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
}

.entry-form {
  flex-grow: 1;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--form-background);
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 5%;
}
.entry-form__form-element {
  flex-grow: 1;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--form-background);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.entry-form__image-wrapper {
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.7);
  box-shadow: inset 1px 1px 1px rgba(87, 87, 87, 0.3);
}
.entry-form__image--preview {
  display: none;
  width: 90%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.entry-form__commands-wrapper {
  text-align: center;
  display: flex;
}
.entry-form__save-button {
  color: var(--button-text-color);
  display: none;
  border: 1px solid var(--secondary-color);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 3rem;
  font-family: "Open Sans-ExtraBold";
}
.entry-form__commands-button--generate-prompt {
  color: var(--button-text-color);
  display: none;
  border: 1px solid var(--secondary-color);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  display: none;
}
.prompt {
  display: block;
  padding: 0.5rem;
  font-size: small;
  color: var(--secondary-color);
  margin-bottom: 0.5rem;
  font-family: "Merriweather-italics";
  user-select: none;
  width: 80%;
}

.viewer__cards-wrapper ul {
  list-style: none;
  padding: 0;
}
.viewer__cards-wrapper li {
  color: var(--text-color);
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid var(--secondary-color);
  width: 100%;
  margin-bottom: 2rem;
}
.viewer__cards-wrapper button {
  background-color: var(--button-color);
  margin-right: 1rem;
}
.category-header {
  cursor: pointer;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.category-card__header-wrapper {
  cursor: pointer;
}
.category-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.category-card:hover {
  border: none;
}
.category-card {
  border: 1px solid #ddd;
  margin-bottom: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;

  background-image: linear-gradient(
    rgba(218, 218, 223, 0.2),
    rgba(67, 67, 67, 0.2)
  );
}
.category-card__header-wrapper.can-expand:hover {
  background-image: url("../data/assets/arrow-down-hover.png");
  text-decoration: underline;
}
.category-card__header-wrapper.can-expand {
  background-image: url("../data/assets/arrow-down.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 48px;
}
.category-card__header-wrapper.expanded:hover {
  background-image: url("../data/assets/arrow-up-hover.png");
}
.category-card__header-wrapper.expanded {
  background-image: url("../data/assets/arrow-up.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 48px;
}
.category-card__header-wrapper.can-delete:hover {
  background-image: url("../data/assets/delete-hover.png");
  text-decoration: underline;
}
.category-card__header-wrapper.can-delete {
  background-image: url("../data/assets/delete.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 48px;
}
.category-card.expanded .category-content {
  max-height: none;
  background-image: none;
}

.lore-summary {
  display: grid;
  grid-template-areas:
    "entry-text entry-text entry-text"
    "details-button  delete-entry-button entry-image-wrapper";
}
.lore-summary__content {
  padding: 1rem;
}
.lore-summary__entry-image-preview-wrapper {
  /* width: 100%;
  height: 100%; */
  grid-area: entry-image-wrapper;
}
.lore-summary__entry-image-preview {
  display: flex;
  align-content: center;
  width: 64px;
  height: 64px;
  grid-area: entry-image-preview;
}
.lore-summary__entry-text {
  font-family: Kode;
  line-height: 1.5;
  white-space: pre-wrap;
  margin-bottom: 0.5rem;
  grid-area: entry-text;
}
.lore-summary__details-button {
  grid-area: details-button;
}
.lore-summary__delete-entry-button {
  grid-area: delete-entry-button;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  filter: blur(0px);
  backdrop-filter: blur(2px) saturate(1.2);
  transition: filter 0.3s ease-in-out;
}
.modal-content {
  background-color: var(--form-background);
  margin: 15% auto;
  padding: 20px;
  line-height: 1.5rem;
  border: 1px solid var(--secondary-color);
  width: 50%;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.modal ul {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
  border: 1px solid var(--secondary-color);
  list-style-type: circle;
}
.modal-content li {
  margin: 1rem;
}
.modal_button--close {
  color: var(--text-color);
  float: right;
  font-size: 30px;
  font-weight: bold;
  overflow: hidden;
  user-select: none;
}
.modal_button--close:hover,
.modal_button--close:focus {
  color: var(--button-color);
  cursor: pointer;
}

.modal__entry-details--sprite img {
  max-width: 50%;
}
.modal__button--destructive {
  font-family: Open Sans-SemiBold;
}
.modal_buttons-wrapper {
  border-bottom: 1px solid var(--secondary-color);
}
.modal_buttons {
  border-bottom: 1px solid var(--secondary-color);
}
.template-maker {
  background-color: var(--background-color);
  filter: blur(0px);
  backdrop-filter: blur(3px) saturate(1.2);
  transition: filter 1s ease-in-out;
}
.template-maker-content {
  width: 80%;
  max-width: 600px;
  overflow: auto;
}

.option-inputs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.option-input {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid var(--secondary-color);
  border-radius: 3px;
}
.remove-field-button {
  background-color: var(--button-color);
}
.option-button-container {
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 0 2rem 0 2rem;
  margin-bottom: 2rem;
  background-color: var(--background-color);
  box-shadow: inset 1px 1px 1px rgba(87, 87, 87, 0.3);
}
.template-field {
  padding: 0 1rem 0 1rem;
}

.template-maker__field-wrapper {
  width: 100%;
}
.template-maker__button--add-field {
  width: 100%;
}

.template-maker__button--save-form {
  width: 100%;
  color: var(--button-text-color);
  border: 1px solid var(--secondary-color);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 3rem;
  font-family: "Open Sans-ExtraBold";
}
.entry-form__commands-button--clear {
  display: none;
}
.modal-details {
  width: 90%;
  max-width: 600px;
}
.modal-details__entry-item-wrapper {
  background-color: var(--background-color);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 0rem 1rem 0 1rem;
  margin-bottom: 2rem;
}
.modal-details__entry-item-wrapper h3 {
  color: var(--secondary-color);
}
.modal-details__entry-item-wrapper p {
  line-height: 1.6;
  text-indent: 2rem;
}

.modal__entry-sprite-frame img {
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.7);
  box-shadow: inset 1px 1px 1px rgba(87, 87, 87, 0.3);
  padding: 1rem 1rem 2rem 1rem;
  max-width: 256px;
  margin: 2rem;
}
.background0 {
  background-image: url("../data/assets/images/backgrounds/lore-library-tile-0.png");
}
.background1 {
  background-image: url("../data/assets/images/backgrounds/lore-library-tile-1.png");
}
.background2 {
  background-image: url("../data/assets/images/backgrounds/lore-library-tile-2.png");
}
.background3 {
  background-image: url("../data/assets/images/backgrounds/lore-library-tile-3.png");
}
.background4 {
  background-image: url("../data/assets/images/backgrounds/lore-library-tile-4.png");
}
.background5 {
  background-image: url("../data/assets/images/backgrounds/lore-library-tile-5.png");
}
.background6 {
  background-image: url("../data/assets/images/backgrounds/lore-library-tile-6.png");
}
.background7 {
  background-image: url("../data/assets/images/backgrounds/lore-library-tile-7.png");
}
.background8 {
  background-image: url("../data/assets/images/backgrounds/lore-library-tile-8.png");
}
.background9 {
  background-image: url("../data/assets/images/backgrounds/lore-library-tile-9.png");
}
.background10 {
  background-image: url("../data/assets/images/backgrounds/lore-library-tile-10.png");
}
.background11 {
  background-image: url("../data/assets/images/backgrounds/lore-library-tile-11.png");
}
.background12 {
  background-image: url("../data/assets/images/backgrounds/lore-library-tile-12.png");
}
.background13 {
  background-image: url("../data/assets/images/backgrounds/lore-library-tile-13.png");
}
